[Unit]
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=bongocat --config %h/.config/bongocat.conf
Restart=on-failure
