[Unit]
Description=Shelly Notifications Tray Service
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/shelly-notifications
Restart=on-failure

[Install]
WantedBy=default.target