[Unit]
Description=Shelly Notifications tray service
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/shelly-notifications
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=graphical-session.target