[Desktop Entry]
Type=Application
Name=Vesktop
Comment=Vesktop autostart script
Exec=sh -c "sleep 5 && /opt/vesktop/vesktop --enable-features=WaylandWindowDecorations --enable-features=UseOzonePlatform --ozone-platform-hint=auto --enable-wayland-ime --wayland-text-input-version=3 --start-minimized"
StartupNotify=false
Terminal=false
Icon=vesktop
