[Desktop Entry]
Type=Application
Name=Vesktop
Comment=Vesktop autostart script
Exec=sh -c "sleep 5 && /usr/bin/vesktop --start-minimized"
StartupNotify=false
Terminal=false
Icon=vesktop
