#media {
	background-color: rgba(30, 30, 46, 0.6);
	border-radius: 10px;

	.media {
		padding: 4px 0 4px 4px;

		.cover {
			border-radius: 10px;
		}

		.info {
			min-width: 500px;
			margin: 5px 10px;

			.title {
				font-size: 17px;
			}
			.artist {
				font-size: 11px;
			}
			.title,
			.artist {
				background-color: transparent;
			}

			.control {
				.play_paulse {
					font-size: 24px;
				}
				.previous,
				.next {
					font-size: 14px;
				}
			}

			.progress trough block {
				margin: 8px 0px;
				min-height: 6px;
				border-radius: 10px;
			}

			.icon {
				margin: 0 8px 8px 8px;
			}
		}
	}
}
