.osd.media {
	/* border-radius: 10px; */

	.image {
		min-width: 188px;
	}

	.left,
	.right {
		min-width: 22px;
	}

	.info {
		min-width: 500px;
	}

	.progress trough block {
		min-height: 6px;
		border-radius: 10px;
		&.filled {
			/* background-color: dodgerblue; */
		}
	}
}
