#media {
	border-radius: 10px;

	.osd.media {
		border-radius: 10px;
		padding: 3px;

		.image {
			border-radius: 10px;
		}

		.left,
		.right {
			min-width: 22px;
		}

		.info {
			min-width: 400px;
			margin: 5px 10px;

			.control.player {
				margin-bottom: 10px;
			}

			.progress trough block {
				margin-bottom: 10px;
				min-height: 6px;
				border-radius: 10px;
				&.filled {
					/* background-color: dodgerblue; */
				}
			}
		}
	}
}
