#overview {
	border-radius: 10px;
	background-color: rgba(30, 30, 46, 0.6);

	.calendar {
		background-color: transparent;
		border-radius: 10px;
	}

	.media {
		min-width: 300px;
		min-height: 94px;
		.cover {
			border-radius: 10px;
		}

		.progress trough block {
			margin: 8px 0px;
			min-height: 6px;
			border-radius: 10px;
		}
	}
}
