.bar {
	* {
		padding-bottom: 0;
	}

	button {
		background-color: transparent;

		&.launcher,
		&.power,
		.media {
			font-size: 14px;
		}

		&.audio:hover {
			box-shadow: none;
		}
	}

	.workspaces,
	.center,
	.system_tray {
		background-color: rgba(30, 30, 46, 0.5);
		border-radius: 1rem;
	}

	.workspaces {
		.focused {
			color: $red;
			/* font-size: 12px; */
		}

		.focused,
		.unfocused {
			min-width: 16px;
			padding-left: 8px;
			padding-right: 8px;
		}
	}
}
