.corner .shadow {
	/* box-shadow: inset 0 0 10px 0px red; */
	margin-bottom: -99px;

	.border {
		/* background-color: red; */
		/* border-top: 10px solid red; */
		margin-right: 0px;
		margin-left: 0px;

		.padding {
			box-shadow: 0 0 0 10px red;
		}
	}
}
