@import "palette.scss";

* {
	font-family: "Noto Sans CJK TC", "Symbols Nerd Font Mono", sans-serif;
	font-weight: bold;
	/* min-width: 0; */
	/* padding-top: 0; */
	padding-bottom: 0;
}

@import "bar.scss";
@import "osd/power_menu.scss";
@import "osd/media.scss";
