input {
	keyboard {
		xkb {
			options "caps:ctrl_modifier"
		}
		numlock
	}
	touchpad {
		natural-scroll
		tap
		dwt
		drag true
		drag-lock
		disabled-on-external-mouse
	}
	warp-mouse-to-focus mode="center-xy"
	focus-follows-mouse max-scroll-amount="33%"
}

output "eDP-1" {
	scale 1.25
	variable-refresh-rate
}
output "Philips Consumer Electronics Company PHL 275M8RZ UK52208002066" {
	mode "2560x1440"
	scale 1.25
	variable-refresh-rate
	focus-at-startup
}
output "PNP(BNQ) BenQ GW2450H D7D00271SL0" {
	focus-at-startup
}

binds {
	/* Global */
	Mod+Tab              { toggle-overview; }
	Mod+Q                { close-window; }
	Mod+Slash            { show-hotkey-overlay; }
	// Focus
	Mod+Left             { focus-column-left; }
	Mod+Right            { focus-column-right; }
	Mod+Up               { focus-window-or-workspace-up; }
	Mod+Down             { focus-window-or-workspace-down; }
	Mod+WheelScrollUp    { focus-column-left; }
	Mod+WheelScrollDown  { focus-column-right; }
	Mod+MouseForward     { focus-window-or-workspace-up; }
	Mod+MouseBack        { focus-window-or-workspace-down; }
	Mod+Shift+Left       { focus-monitor-left; }
	Mod+Shift+Right      { focus-monitor-right; }
	Mod+C                { center-column; }
	// Move
	Mod+Ctrl+Left        { move-column-left; }
	Mod+Ctrl+Right       { move-column-right; }
	Mod+Ctrl+Up          { move-window-up-or-to-workspace-up; }
	Mod+Ctrl+Down        { move-window-down-or-to-workspace-down; }
	Mod+Shift+Ctrl+Left  { move-column-to-monitor-left; }
	Mod+Shift+Ctrl+Right { move-column-to-monitor-right; }
	Mod+BracketLeft      { consume-or-expel-window-left; }
	Mod+BracketRight     { consume-or-expel-window-right; }
	Mod+S                { toggle-column-tabbed-display; }
	// Resize
	Mod+R                { switch-preset-column-width; }
	Mod+Shift+R          { switch-preset-window-height; }
	Mod+G                { maximize-column; }
	Mod+Shift+G          { fullscreen-window; }
	Mod+Ctrl+G           { expand-column-to-available-width; }
	Mod+Ctrl+R           { reset-window-height; }
	Mod+Minus            { set-column-width "-10%"; }
	Mod+Equal            { set-column-width "+10%"; }
	Mod+Shift+Minus      { set-window-height "-10%"; }
	Mod+Shift+Equal      { set-window-height "+10%"; }
	Mod+F                { toggle-window-floating; }
	Mod+Shift+F          { switch-focus-between-floating-and-tiling; }
	// Screenshot
	Print                { screenshot; }
	Mod+Print            { screenshot-window; }
	Alt+Print            { screenshot-screen; }

	/* Applications */
	Ctrl+Space           { spawn "hexecute"; }
	Mod+Space            { spawn "kitty"; }
	Mod+A                { spawn "nwg-drawer"; }
	Mod+E                { spawn "kitty" "yazi"; }

	/* System */
	// Change volume
	XF86AudioRaiseVolume  allow-when-locked=true { spawn "~/.config/niri/scripts/audio.nu" "speaker" "increase"; }
	XF86AudioLowerVolume  allow-when-locked=true { spawn "~/.config/niri/scripts/audio.nu" "speaker" "decrease"; }
	XF86AudioMute         allow-when-locked=true { spawn "~/.config/niri/scripts/audio.nu" "speaker" "toggle"; }
	XF86AudioMicMute      allow-when-locked=true { spawn "~/.config/niri/scripts/audio.nu" "microphone" "toggle"; }
	// Change brightness
	XF86MonBrightnessUp   allow-when-locked=true { spawn "~/.config/niri/scripts/brightness.nu" "increase"; }
	XF86MonBrightnessDown allow-when-locked=true { spawn "~/.config/niri/scripts/brightness.nu" "decrease"; }
	XF86KbdBrightnessUp   allow-when-locked=true { spawn "~/.config/niri/scripts/brightness.nu" "increase" "--keyboard"; }
	XF86KbdBrightnessDown allow-when-locked=true { spawn "~/.config/niri/scripts/brightness.nu" "decrease" "--keyboard"; }
	// Media control
	XF86AudioPlay         allow-when-locked=true { spawn "playerctl" "--player" "playerctld" "play-pause"; }
	XF86AudioPause        allow-when-locked=true { spawn "playerctl" "--player" "playerctld" "pause"; }
	XF86AudioStop         allow-when-locked=true { spawn "playerctl" "--player" "playerctld" "stop"; }
	XF86AudioNext         allow-when-locked=true { spawn "playerctl" "--player" "playerctld" "next"; }
	XF86AudioPrev         allow-when-locked=true { spawn "playerctl" "--player" "playerctld" "previous"; }
	// G14
	XF86Launch1          { spawn "rog-control-center"; }
	XF86Launch4          { spawn "asusctl" "profile" "-n"; }
}

layout {
	gaps 16
	struts {
		top -12
		bottom -4
	}
	always-center-single-column
	empty-workspace-above-first
	default-column-display "tabbed"
	tab-indicator {
		hide-when-single-tab
		place-within-column
		gaps-between-tabs 8
		corner-radius 8
	}
	preset-window-heights {
		proportion 0.5
		proportion 1.0
	}
	focus-ring {
		width 2
		active-color "#f5c2e7cc"
		inactive-color "#00000000"
		urgent-color "#9b0000"
	}
	shadow {
		on
		softness 20
		spread 8
		color "#f5c2e744"
		inactive-color "#00000000"
	}
}

prefer-no-csd
screenshot-path "~/Pictures/screenshot/%Y-%m-%d %H-%M-%S.png"

environment {
	DISPLAY ":0"
}

cursor {
	hide-when-typing
	hide-after-inactive-ms 5000
}

clipboard {
	disable-primary
}

hotkey-overlay {
	skip-at-startup
	hide-not-bound
}

layer-rule {
    match namespace="swww-daemonblur"
    place-within-backdrop true
}

window-rule {
	geometry-corner-radius 16
	clip-to-geometry true
	draw-border-with-background false
	open-maximized true
}

window-rule {
	match app-id="org.gnome.Nautilus" title="Open Folder"
	match app-id="org.gnome.NautilusPreviewer"
	open-floating true
}

window-rule {
	match title="子母畫面"
	open-floating true
	default-floating-position x=0 y=0 relative-to="bottom-right"
}

window-rule {
    match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
    default-floating-position x=0 y=0 relative-to="bottom-right"
    open-focused false
}

gestures {
	dnd-edge-view-scroll {
		max-speed 2000
	}
	dnd-edge-workspace-switch {
		max-speed 2000
	}
	hot-corners {
		off
	}
}
