recent-windows {
		highlight {
		active-color "#fff596aa"
		urgent-color "#9b0000"
		padding 16
		corner-radius 8
	}

	binds {
		Mod+Tab         { next-window; }
		Mod+Shift+Tab   { next-window     filter="app-id"; }
	}
}
