@import "palette.scss";

.power_menu {
  .logout,
  .poweroff,
  .reboot,
  .sleep {
    font-family: "FiraCode Nerd Font", Retina, Regular;
    font-size: 48px;
    min-width: 96px;
    min-height: 96px;
    padding: 0px;
    border-radius: 10px;
    margin: 20px;
    background-color: #2e3440;
  }

  .poweroff {
    color: $red;
  }
}

/* window.bar { */
/* background-color: @theme_bg_color; */
/* color: @theme_fg_color; */
/* } */

/* button { */
/* min-width: 0; */
/* padding-top: 0; */
/* padding-bottom: 0; */
/* background-color: transparent; */
/* } */

/* button:active { */
/* background-color: @theme_selected_bg_color; */
/* } */

/* button:hover { */
/* border-bottom: 3px solid @theme_fg_color; */
/* } */

/* label { */
/* font-weight: bold; */
/* } */

/* .workspaces button.focused { */
/* border-bottom: 3px solid @theme_selected_bg_color; */
/* } */

/* .client-title { */
/* color: @theme_selected_bg_color; */
/* } */

/* .notification { */
/* color: yellow; */
/* } */

/* levelbar block, */
/* highlight { */
/* min-height: 10px; */
/* } */
