spawn-sh-at-startup  "GTK_USE_PORTAL=0 GDK_DEBUG=no-portals regreet --config /etc/greetd/regreet.toml; niri msg action quit --skip-confirmation"

output "eDP-1"  {
	variable-refresh-rate
}
output "HDMI-A-1"  {
	variable-refresh-rate
}

cursor  {
	hide-when-typing
	hide-after-inactive-ms 5000
}

hotkey-overlay  {
	skip-at-startup
}

gestures  {
	hot-corners  {
		off
	}
}
